extends layouts/main
include mixins/videoBlock

block content
    .videos
        each piza in videos
            +videoBlock({
                id: piza.id,
                title: piza.title,
                views: piza.views,
                videoFile: piza.videoFile 
            })