extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching for : #{searchingBy}
    .search__videos
        each piza in videos
            +videoBlock({
                title: piza.title,
                views: piza.views,
                videoFile: piza.videoFile 
            })